---
layout: layout.njk
title: Homepage | My Blog
---

{# # My personal corner #}
<h1>My personal corner</h1>
<p>Powered by 11ty.</p>
{# Powered by 11ty. #}

{# <ul>
    {% for mem in members%}
          <li><a href="{{mem.name}}" > {{mem.age}}</a></li>
      {%endfor%}
</ul> #}